@font-face {
    font-family: logo-font;
    src: url("images/Norse-Bold.otf");
}
body{
    margin: 0;
    
}
.container{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 2fr;
}
img[src="images/odin-lined.png"]
{
    height: clamp(120px, 9rem, 11rem);
}
.main-left{
    position: relative;
    height: 100vh;
    width: auto;
    overflow: hidden;
    background-image: url("images/green-leaves.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.left-logo{
    width: 100%;
    background-color:rgb(0, 0, 0,0.5);
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    height: clamp(60px, 150px, 20rem);
    top: 25vh;
    
}
.logo-text{
    font-size: clamp(40px,85px, 120px);
    color: #ffffff;  
    opacity: 1;   
    font-family: logo-font; 
    
} 
.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.form-right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
